<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employees Login Form</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="/css/log.css">
	<link rel="icon" type="image/x-icon" href="/img/empl.png" />

</head>

<body>
	<div class="container" id="main_container">
		<div class="sign-up-container">
			<div class="overlay-panel overlay-right">
				<h2>Employees Management Portal</h2>
				<p>Enter your personal details and start journey with us</p>
				<a href="/signup"><button class="ghost" id="signUp">Sign Up</button></a>
			</div>
		</div>
		<div class="sign-in-container">
			<form id="loginForm"  onkeydown="return event.key != 'Enter';">
				<h1>Sign in</h1>
				<div class="signin_data">
					<span>or create a new account</span>
					<input type="email" id="email" placeholder="Email" name="email" />
					<input type="password" id="password" placeholder="Password" name="password" autocomplete="off" />
					<!-- <a href="#">Forgot your password?</a> -->
					<button type="button" onclick="login()">Login</button>
					<label class="label_val" id="errorNameLog" for="email" style="display: none; color: red; margin-top: 15px; ont-weight: 600;
								font-size: small;font-weight: 600;">Email or Password is invalid </label>
				</div>
			</form>
		</div>
	</div>
	</div>
</body>
<script src="/js/loginSignup.js"></script>

</html>