<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Employees Sign Up Form</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="/css/log.css">
	<link rel="icon" type="image/x-icon" href="/img/empl.png" />

</head>

<body>
	<div class="container" id="main_container">
		<div class="sign-up-container_signon">
			<form id="signupForm" onkeydown="return event.key != 'Enter';">
				<h1>Create Account</h1>
				<div class="signup_data">
					<span>or login to your existing account</span>
					<input type="text" id="name" placeholder="User ID" name="name" />
					<input type="email" id="email" placeholder="Email" name="email" />
					<input type="password" id="password" placeholder="Password (min 6 character required)" name="password" />
					<button type="button" onclick="signup()">Sign Up</button>
					<label class="label_val" id="errorName" for="name" style="display: none; color: red; margin-top: 15px; ont-weight: 600;
					font-size: small;font-weight: 600;"></label>
					
				</div>
			</form>
		</div>
		<div class="sign-in-container_login">
			<div class="overlay-panel overlay-left">
				<h2>Welcome Back!</h2>
				<p>To keep connected with us please login with your personal info</p>
				<a href="/login"><button class="ghost" id="signIn">LOGIN</button></a>
			</div>
		</div>
	</div>
	</div>
</body>
<script src="/js/loginSignup.js"></script>

</html>