<!-- add employee confirmation -->
<div
  class="modal confirmationpopup"
  id="addconfirmationpopup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered rounder-4" role="document">
    <div class="modal-content rounded-4">
      <div class="modal-header">
        <div
          class="modal-title confirmationpopupheading"
          id="exampleModalCenterTitle"
        >
          Success
        </div>
        <!-- <button class="close close_edit_emp" id="close_modal_confirmation" onclick="closeValPopup()">
        <i class="material-symbols-outlined closesymbol"> close</i>
      </button> -->
      </div>
      <div class="modal-body popupbody">Employee Added Successfully!</div>
      <div class="modal-footer bottom">
        <button
          type="button"
          id="Close_btn"
          class="btn btn-primary"
          onclick="closeValPopup()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edited successfully -->
<div
  class="modal confirmationpopup"
  id="editconfirmationpopup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered rounder-4" role="document">
    <div class="modal-content rounded-4">
      <div class="modal-header">
        <div
          class="modal-title confirmationpopupheading"
          id="exampleModalCenterTitle"
        >
          Success
        </div>
        <!-- <button class="close close_edit_emp" id="close_modal_confirmation" onclick="editConfOff()">
      <i class="material-symbols-outlined closesymbol"> close</i>
    </button> -->
      </div>
      <div class="modal-body popupbody">Employee Edited Successfully!</div>
      <div class="modal-footer bottom">
        <button
          type="button"
          id="Close_btn"
          class="btn btn-primary"
          onclick="editConfOff()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- delete employee confirmation -->
<div
  class="modal confirmationpopup"
  id="delconfirmationpopup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered rounder-4" role="document">
    <div class="modal-content rounded-4">
      <div class="modal-header">
        <div
          class="modal-title confirmationpopupheading"
          id="exampleModalCenterTitle"
        >
          Success
        </div>
        <!-- <button class="close close_edit_emp" id="close_modal_confirmation" onclick="delConfOff()">
        <i class="material-symbols-outlined closesymbol"> close</i>
      </button> -->
      </div>
      <div class="modal-body popupbody">Employee Deleted Successfully!</div>
      <div class="modal-footer bottom">
        <button
          type="button"
          id="Close_btn"
          class="btn btn-primary"
          onclick="delConfOff()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
