<div
  class="modal"
  id="delete_employee"
  tabindex="-1"
  aria-labelledby="delete_exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content delete_employee">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_exampleModalLabel">
          Delete Employee
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="delEmpPopOff()"
        ></button>
      </div>
      <div class="modal-body bottom">
        <h5>Are you sure you want to delete this employee?</h5>
      </div>
      <div class="modal-footer bottom">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          onclick="delEmpPopOff()"
        >
          Cancel
        </button>
        <button type="button" id="delete_btn" class="btn btn-primary">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
