<body>
  <div class="home_page">
    <div class="side_bar">
      <div class="logo">
        <h2>Employee <span>Management</span></h2>
      </div>
      <div class="menu">
        <button class="btn menu_button">
          <span class="active_bar"></span
          ><span><i class="fa-solid fa-house"></i></span>Dashboard
        </button>
        <button class="btn menu_button">
          <span class="active_bar"></span
          ><span><i class="fa-solid fa-chart-simple"></i></span>Employees
        </button>
        <button class="btn menu_button">
          <span class="active_bar"></span
          ><span><i class="fa-solid fa-user"></i></span>My Profile
        </button>
        <button class="btn menu_button">
          <span class="active_bar"></span
          ><span><i class="fa-solid fa-lock"></i></span
          ><a href="/logout">Logout</a>
        </button>
      </div>
      <div class="host">
        <h6>Powered by</h6>
        <img src="/img/image1.png" alt="" />
      </div>
    </div>
  </div>
</body>
